@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>添加菜单</title>
</head>
<body>
    <div style="padding: 15px; overflow: hidden">
        <form id="MenuAddForm" method="post" action="">
            <table class="tableForm" width="100%">
                <tr>
                    <th>
                        菜单名称：
                    </th>
                    <td>
                        <input type="text" name="txtMenuName" id="txtMenuName" class="easyui-validatebox textbox"
                               data-options="required:true,validType:'length[2,20]'" style="width:170px;height:22px;" />
                    </td>
                </tr>
                <tr>
                    <th>
                        父节点：
                    </th>
                    <td>
                        <input class="easyui-combotree" id="treeMenuParentId" name="treeMenuParentId"
                               data-options="url: '/Menu/InitMenu/0',lines:true" style="width:170px;height:22px;" />
                        <img style="cursor: pointer; vertical-align: middle;" onclick="$('#treeMenuParentId').combotree('clear');"
                             alt="清空父节点" title="清空父节点" src="../Content/themes/icon/edit-clear.png" />
                    </td>
                </tr>
                <tr>
                    <th>
                        标识码：
                    </th>
                    <td>
                        <input type="text" name="txtMenuCode" id="txtMenuCode" class="easyui-validatebox textbox"
                               data-options="required:false,validType:'length[2,40]'" style="width:170px;height:22px;" />
                    </td>
                </tr>

                <tr>
                    <th>
                        链接地址：
                    </th>
                    <td>
                        <input type="text" name="txtMenuLinkAddress" id="txtMenuLinkAddress" class="easyui-validatebox textbox"
                               data-options="required:false,validType:'length[2,40]'" style="width:170px;height:22px;" />
                    </td>
                </tr>
                <tr>
                    <th>
                        图标：
                    </th>
                    <td>
                        <select id="comboxMenuIconTree" name="comboxMenuIconTree" class="easyui-combotree" data-options="url:'/Icons/GetAllIconsTree',editable:false,valueField:'id',textField:'text',multiple:false" style="width:170px;height:22px;"></select>
                        <img style="cursor: pointer; vertical-align: middle;" onclick="$('#comboxMenuIconTree').combotree('clear');"
                             alt="清空图标" title="清空图标" src="../Content/themes/icon/edit-clear.png" />
                    </td>
                </tr>
                <tr>
                    <th>
                        排序：
                    </th>
                    <td>
                        <input type="number" name="txtMenuSort" id="txtMenuSort" value="1" class="easyui-numberspinner"
                               data-options="min:1,max:100,editable:false" autocomplete="off" style="width:70px;height:22px;" />
                    </td>
                </tr>
            </table>
        </form>
    </div>

</body>
</html>
