
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
</head>
<body>
    <div id="ui_user_layout" class="easyui-layout" data-options="fit:true,border:false">
        <div data-options="region:'north',split:true,border:true" title="搜索条件" style="height:100px">
            <div id="ui_user_search">
                <table class="tableForm" style="height:56px;">
                    <tr>
                        <th height="20px">
                            用户名：
                        </th>
                        <td>
                            <input name="txtSearchName" id="txtSearchName" class="easyui-validatebox textbox" style="width:170px;height:22px;" />
                        </td>
                        <td>
                            <a href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-search" plain="true"
                               onclick="searchdata();">搜索</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="AddUser()">添加</a>
                            <a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="EditUser()">编辑</a>
                            <a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="DelUser()">删除</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div data-options="region:'center',border:false">
            <table id="ui_user_dg" data-options="fit:true,border:false"></table>
        </div>
    </div>
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/jquery.easyui.min.js"></script>
    <script src="~/Content/js/easyui-lang-zh_CN.js"></script>
    <script src="~/Content/js/commjs.js"></script>
    <script src="~/Content/js/loaduserjs.js"></script>
</body>
</html>
