<div class="easyui-panel" style="width:100%;height:100%;border:none;padding-top:8px;background-color:#0094ff">
    <div style="width:60%;float:left;"><span style="font-size:large;font-family:'Microsoft YaHei'">Mvc应用程序</span></div>
    <div style="width:38%;float:right;text-align:right;margin-right:10px;">
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-clock'"><span id="bgclock"></span></a>
        <a href="javascript:void(0)" class="easyui-menubutton" data-options="menu:'#mm1',iconCls:'icon-user'"><span style="font-weight:bold;font-size:16px">@ViewBag.AccountName</span></a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-help'">帮助</a>
    </div>
</div>
<div id="mm1" style="width:150px;">
    <div data-options="iconCls:'icon-undo'" onclick="UserLoginOut()">注销</div>
    <div data-options="iconCls:'icon-pencil'" onclick="ChangePwd('')">修改密码</div>
</div>

