<div id="tabsMenu" class="easyui-menu" style="width: 150px;">
    <div id="m-refresh">刷新</div>
    <div class="menu-sep"></div>
    <div id="m-close">关闭当前</div>
    <div id="m-closeother">除此之外全部关闭</div>
    <div id="m-tabcloseright">当前页右侧全部关闭</div>
    <div id="m-tabcloseleft">当前页左侧全部关闭</div>
    <div id="m-closeall">全部关闭</div>
    <div class="menu-sep"></div>
    <div id="m-exit">退出</div>
</div>
