<div class="easyui-panel" style="width:100%;height:100%;border:none;padding-top:8px;">
    <div style="width:60%;float:left;"><span style="font-size:large;font-family:'Microsoft YaHei'">Mvc应用程序</span></div>
    <div style="width:38%;float:right;text-align:right;margin-right:10px;">
        <a href="#" class="easyui-menubutton" data-options="menu:'#mm1',iconCls:'icon-user'">@ViewBag.AccountName</a>
    </div>
</div>
<div id="mm1" style="width:150px;">
    <div data-options="iconCls:'icon-undo'" onclick="UserLoginOut()">注销</div>
    <div data-options="iconCls:'icon-redo'">Redo</div>
</div>

